/* 改变主题色变量 */
$--color-primary: #31c27c;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--img-path: 'green';



.home-page{
   background: url('../../images/green/bg.jpg') no-repeat center top;
}
.report-page{
   background: url('../../images/green/bg2.jpg') no-repeat center top;
}
.device-page{
   background: null;
}